/Bhim.html
/bhim.jpeg
/Hit 2.jpg
/kurup.html
/kurup.jpg
/Na songs.html
/Poratame 2.mp3
/Urike Urike.mp3
/[iSongs.info] 01 - Edi Paravasamo.mp3
/[iSongs.info] 02 - Dingiri Dingale.mp3
/[iSongs.info] 03 - Simhapujulu Ni Patti.mp3
/[iSongs.info] 04 - Anuvynakaalam.mp3
/[iSongs.info] 05 - Dhaarelekunna.mp3